* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f7fa;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #0d1b2a;
  color: white;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  flex-wrap: wrap;
}

.hero-text {
  max-width: 500px;
}

.hero-text h1 span {
  color: #007BFF;
}

.hero-img img {
  width: 250px;
  border-radius: 50%;
}

/* BUTTON */
.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: #007BFF;
  color: white;
  text-decoration: none;
}

/* SECTIONS */
.section {
  padding: 50px;
  text-align: center;
}

/* CARDS */
.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 20px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: auto;
}

input, textarea {
  padding: 10px;
}

button {
  background: #007BFF;
  color: white;
  padding: 10px;
  border: none;
}

/* FOOTER */
footer {
  background: #0d1b2a;
  color: white;
  text-align: center;
  padding: 15px;
}
/* DARK MODE */
.dark-mode {
  background: #121212;
  color: white;
}

.dark-mode nav {
  background: #000;
}

.dark-mode .card {
  background: #1e1e1e;
  color: white;
}

/* DARK BUTTON */
#darkModeToggle {
  background: #007BFF;
  border: none;
  color: white;
  padding: 8px 12px;
  cursor: pointer;
}

/* SOCIAL LINKS */
.socials a {
  margin: 10px;
  color: #007BFF;
  text-decoration: none;
}
.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card a {
  display: inline-block;
  margin-top: 10px;
  color: #007BFF;
  text-decoration: none;
  font-weight: bold;
}